################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MVCFirst/FileContentIndex/452a7971-28ed-4b8f-894f-549b1b0a9a08.vsidx
/.vs/MVCFirst/v17/.suo
