################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MVCFirst/FileContentIndex/452a7971-28ed-4b8f-894f-549b1b0a9a08.vsidx
/.vs/MVCFirst/v17/.suo
/.vs/MVCFirst/v17/.suo
/.vs/MVCFirst/FileContentIndex/6d2bc9c9-e288-415b-9b89-03c2d3cfb92d.vsidx
*.testlog
*.manifest
*.vsidx
/.vs/MVCFirst/v17/.suo
/MVCFirst/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
